.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
    margin: auto;
    max-width: calc(3 * 250px + 2 * 10px); /* Max width for 3 images + 2 gaps */
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-title {
    text-align: center;
    font-size: 500%;
  }

  .thumbnail {
    cursor: pointer;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .created-with {
    font-style: italic;
    color: rgb(222, 11, 11);
    position: fixed;
    bottom: 0px;
    right: 0px;
  }

  .simple-gallery-link {
    color: white;
  }